<!-- ========== section start ========== -->
<section class="section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Patients List</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <a class="btn btn-primary" routerLink="/patients/create">Create Patient</a>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Our Patients</h6>
                        <p class="text-sm mb-20">
                            Here you are seeing all of our patients.
                        </p>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="lead-info">
                                            <h6>Name</h6>
                                        </th>
                                        <th class="lead-email">
                                            <h6>Email</h6>
                                        </th>
                                        <th class="lead-phone">
                                            <h6>Phone No</h6>
                                        </th>
                                        <th class="lead-company">
                                            <h6>Date</h6>
                                        </th>
                                        <th>
                                            <h6>Action</h6>
                                        </th>
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                    <tr *ngFor="let patient of patients">
                                        <td class="min-width">
                                            <div class="lead">
                                                <div class="lead-image">
                                                    <img src="assets/images/lead/lead-1.png" alt="" />
                                                </div>
                                                <div class="lead-text">
                                                    <p>{{ patient.first_name + ' ' + patient.last_name }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="min-width">
                                            <p><a [href]="'mailto:' + patient.email">{{ patient.email }}</a></p>
                                        </td>
                                        <td class="min-width">
                                            <p><a [href]="'tel:' + patient.mobile">{{ patient.mobile }}</a></p>
                                        </td>
                                        <td class="min-width">
                                            <p>{{ patient.created_at }}</p>
                                        </td>
                                        <td>
                                            <div class="action">
                                                <button class="text-danger" type="button" (click)="deletePatient(patient.id)">
                                                    <i class="lni lni-trash-can"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>        
        
    </div>
    <!-- end container -->
</section>
<!-- ========== section end ========== -->

